#div1{
    height: 200px;
    width: 74px;
    border: 15px solid rgb(255, 0, 0);
    background-color: black;
}
.div2{
    height: 50px;
    width: 50px;
    border: 2px solid rgb(245, 242, 242);
    margin: 10px;
    border-radius: 50%;

}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}