#container{
    height: 500px;
    width: 500px;
    border: 5px solid black;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
h1{
    text-align: center;
}
#container div{
    height: 100px;
    width: 150px;
}