#container{
    height: 50px;
    width: 900px;
    border: 2px solid skyblue;
    border-radius: 15px;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    align-content: center;

}
.box{
    height: 50px;
    width: 80px;
    font-size: 24px;
    text-align: center;
    margin-left: 5px;
    line-height: 50px;
}